/* variables we use in the components for sizing */
:root {
	--size: 1.5rem;
	--size-font: 20px;
	font-size: var(--size-font);
}

/*
	exported web components
*/

/* the scanner and its children parts */
qr-code-scanner {
	--color-background: black;
	display: inline-flex;
	flex-direction: column;
}

qr-code-scanner::part(video-control) {
	width: 100%;
	max-height: 80vh;
	background-color: var(--color-background);
	cursor: progress;
}
qr-code-scanner::part(button-start),
qr-code-scanner::part(button-stop),
qr-code-scanner::part(select-device){
	padding: calc(var(--size) / 2);
}
qr-code-scanner[disabled]::part(button-start):hover {
	background-color: inherit;
}
qr-code-scanner:not([disabled]):hover::part(button-start) {
	color: blue;
}
qr-code-scanner[scanning]::part(button-stop) {
	color: red;
}
qr-code-scanner[scanning]::part(button-stop):hover {
	color: orange;
}

/* multiple qr codes */
qr-codes::part(qr-code) {
	max-width: calc(var(--size) * 2);
}
qr-codes:fullscreen {
	display: flex;
	align-items: center;
}
qr-codes:fullscreen::part(qr-code) {
	max-width: 100vw;
	width: 100%;
}
qr-codes::part(qr-code):fullscreen {
	max-width: 100%;
}

qr-codes::part(qr-code-svg) {
	width: 100%;
}

/* one qr-code */
qr-codes,
qr-code,
qr-codes::part(qr-code) {
	display: inline-block;
	max-height: 100vh;
}

/* fullscreen attribute */
qr-codes[fullscreen]::part(qr-code),
qr-code[fullscreen] {
	cursor: zoom-in;
}
/* fullscreen in browser */
qr-codes::part(qr-code):fullscreen,
qr-code:fullscreen {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: zoom-out;
}
qr-codes::part(qr-code-svg),
qr-code::part(svg) {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	height: auto;
}
qr-codes::part(qr-code-img),
qr-code::part(img) {
	width: auto;
	max-width: 100%;
}
qr-codes::part(qr-code-table),
qr-code::part(table) {
	display: inline-block;
}
