@import "./default.css";

/* box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* variables we use in the components for sizing */
:root {
	--size: 1.5rem;
	--size-font: 20px;
}
html {
	font-size: var(--size-font);
}

/* the styles of the demo site */
html,
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
body {
	margin: 0;
	padding: calc(var(--size) / 2);
}

nav {
	display: flex;
	flex-wrap: wrap;
}
nav a {
	padding: var(--size);
}

summary {
	cursor: pointer;
	padding-top: calc(var(--size) / 2);
	padding-bottom: calc(var(--size) / 2);
}
